* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#polygon,
#scales,
#scales_2 {
    padding: 10px;
    border: 1px solid black;
}

#start {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 28px
}

#square {
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    top: 40px;
    left: 240px;
}